section.slider{
     margin: 0 auto;
     width: 100%;
     height: auto;
     padding: 0 !important;
     overflow: hidden;
}

.conteudo-slider{
     width: 400%;
     height: auto;
     display: flex;
}

.conteudo-slider input{
     display: none;
}

.slide-box{
     width: 25%;
     height: auto;
     position: relative;
     text-align: center;
     transition: 1s;
}

.slide-box img{
     width: 100%;
}

.nav-manual, .nav-auto{
     position: absolute;
     width: 100%;
     margin-top: 50%;
     display: flex;
     justify-content: center;
}

.nav-manual .btn-manual, .nav-auto div{
     border: 1px solid black;
     padding: 10px;
     border-radius: 50%;
     cursor: pointer;
     transition: 0.3s;
}

.nav-manual .btn-manual:not(:last-child), .nav-auto div:not(:last-child){
     margin-right: 10px;
}

.nav-manual .btn-manual:hover{
     background-color: rgb(0, 255, 60);
}

#radio1:checked ~ .nav-auto .btn-auto1, #radio2:checked ~ .nav-auto .btn-auto2, #radio3:checked ~ .nav-auto .btn-auto3, #radio4:checked ~ .nav-auto .btn-auto4{
     background-color: rgb(0, 255, 60);
}

#radio1:checked ~ .primeiro{
     margin-left: 0%;
}
#radio2:checked ~ .primeiro{
     margin-left: -25%;
}
#radio3:checked ~ .primeiro{
     margin-left: -50%;
}
#radio4:checked ~ .primeiro{
     margin-left: -75%;
}